<div class="panel panel-default question-list">
	<div class="panel-heading ">Your questions</div>
	<div class="panel-body">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<td><div class="my-header">Question</div></td>
					<td><div class="my-header">Answer</div></td>
					<td><div class="my-header">Language</div></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="question in questions">
					<td>{{question.prose}}</td>
					<td width="50px">{{question.exactAnswer}}</td>
					<td width="100px">{{question.language.name}}</td>
					<td width="50px">
						<div ng-click="onSelect(question)" class="glyphicon glyphicon-pencil"></div>
						<div ng-click="onDelete(question)" class="glyphicon glyphicon-remove"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
